# Even Hub app submodules
# Each app is an independent git repo under apps/
#
# To add a new app:
#   git submodule add git@github.com:plungarini/<app-name>-even.git apps/<app-name>
#
# Format:
# [submodule "<app-name>"]
#     path = apps/<app-name>
#     url = git@github.com:plungarini/<app-name>-even.git
[submodule "apps/reddit-feed"]
	path = apps/reddit-feed
	url = git@github.com:plungarini/reddit-feed-even.git
[submodule "apps/carnav"]
	path = apps/carnav
	url = git@github.com:plungarini/carnav-even.git
[submodule "apps/smokeless"]
	path = apps/smokeless
	url = git@github.com:plungarini/smokeless-even.git
